<section class="widget-wrap">
    <div class="widget">
        <div class="notice attention">
            <p>本博客主题采用的是基于 hexo 打造的 <a href="https://github.com/shuxhan/hexo-theme-simple99" target="_blank">simple99</a>，主题已上架 hexo 官网。</p>
            <p>如有其他问题，请在博客<a href="https://shuxhan.com/message">留言</a>，或者发一封邮件给我，我的邮箱地址：<%- theme.email %></p>
            
        </div>
    </div>
</section>
