<section class="widget-wrap">
    <h3 class="widget-title">公告</h3>
    <div class="widget">
        <div class="notice">
            <!-- <div>
                <img src="https://i.loli.net/2020/12/17/58P9BlaJdDLqV4O.jpg" alt="">
            </div> -->
            <p>hello,world!</p>
            <p>这里是我的博客!</p>
        </div>
    </div>
</section>

<style>
    .notice > div {
        width: 37%;
        margin: 0 auto;
        
    }
    .notice > div > img {
        width: 100%;
        border-radius: 50%;
        border: 2px solid #ccc;
        overflow: hidden;
    }
    .notice > p {
        /* text-align: center; */
    }
</style>