<div class="about-wrap">
<article class="main">
    <h2>关于我</h2>
    <p>经常逛各种技术论坛，博客网站等，发现很多人喜欢记录自己，分享工作中遇到的问题和技术点，这是我萌生写博客的起点。</p>
    <p>后来认识了一个叫做hexo的博客框架，操作起来比较简单，网站搭起来就可以专注于写文章，支持markdown语法，在hexo官网看了很多主题，但始终不满意。就自己动手写了一个，正好锻炼自己的代码能力，顺便增长了自己的审美能力。</p>
    <p>翻看了很多博客主页，从色彩到布局慢慢磨合，最终形成了这样一个主题－－simple99，<strong>为什么起这个名字呢？</strong>因为主题走的是简约风，所以是 simple，并且希望自己能够长久的坚持下去，因此叫做 simple99。</p>
    
    <p>至于笔名树寒，则是取于我名字的谐音。以后就用这个名字行走江湖啦！</p>
    <p>接下来会慢慢记录一些东西，并不局限于技术方面的记载，包括生活感想，读书笔记等，我都会写在这个博客里。</p>
    <p>也希望能够碰到有志同道合的攻城师，没事坐下来喝杯茶聊一聊，也是极好的。</p>
    <p>简单介绍一下自己，前端工程师，98年的小伙子，未来的计划是成为全栈，虽然现在的技术还很一般，但是希望通过自己的规划，一步一步实现这个目标。</p>
    <hr>
    <ul>
        <li>
            <p>2020年10月, 进入新的工作环境</p>
        </li>
        <li>
            <p>2020年6月, 大学毕业踏上人生新征程</p>
        </li>
    </ul>
    <h2>联系方式</h2>
    <p>e-mail： <span>
            <%- theme.email %>
        </span>
    </p>
    <h2>相关</h2>

    <blockquote>
        <p>github主页： <a target="_blank" rel="noopener"
                href="https://github.com/shuxhan">https://github.com/shuxhan</a>
        </p>
        <p>主题仓库： <a target="_blank" rel="noopener"
                href="https://github.com/shuxhan/hexo-theme-simple99">https://github.com/shuxhan/hexo-theme-simple99</a>
        </p>
        <p>个人网址导航： <a target="_blank" rel="noopener" href="https://shuxhan.gitee.io/">https://shuxhan.gitee.io/</a>
        </p>
    </blockquote>



    <br><br>
</article>
</div>