<div class="about-wrap">
    <article class="about">
        <h1>
    
        </h1>
        <small>2020/12/8</small>
        <h2 id="关于我"><a href="#关于我" class="headerlink" title="关于我"></a>关于我</h2><img style="border: none;width:80%;"
            src="https://i.loli.net/2020/11/30/wtVosdZALyTbigv.jpg" alt="一只展示图" title="我就盯着你">
    
        <p>致力于技术开发</p>
        <p>爱前端，爱生活，爱折腾!</p>
        <p>一名前端开发工程师，正在朝着全栈的目标发展</p>
        <p>写博客文章的目的，是为了记录自己的成长，工作中遇到的问题，对生活的感触</p>
        <p>希望能够为自己保留一份成长的轨迹</p>
        <hr>
        <ul>
            <li>
                <p>2020年10月, 进入新的工作环境</p>
            </li>
            <li>
                <p>2020年6月, 大学毕业踏上人生新征程</p>
            </li>
        </ul>
        <h2 id="联系方式"><a href="#联系方式" class="headerlink" title="联系方式"></a>联系方式</h2>
        <p>e-mail: <a
                href="mailto:&#122;&#x73;&#104;&#x39;&#x38;&#x31;&#x31;&#48;&#57;&#x40;&#x31;&#54;&#x33;&#46;&#99;&#111;&#109;">&#122;&#x73;&#104;&#x39;&#x38;&#x31;&#x31;&#48;&#57;&#x40;&#x31;&#54;&#x33;&#46;&#99;&#111;&#109;</a>
        </p>
        <h2 id="相关"><a href="#相关" class="headerlink" title="相关"></a>相关</h2>
        <blockquote>
            <p>github主页: <a target="_blank" rel="noopener" href="https://github.com/anghunk">https://github.com/anghunk</a>
            </p>
        </blockquote>
        
    
    </article>
</div>