<div class="about-wrap">
<article class="about">
    <h2>关于我</h2>
    <p>一直以来想拥有自己的一个网站，虽然很简陋，但是也算是自己的博客了，以后会慢慢记录一些东西。并不局限于技术方面的记载，包括生活感想，读书笔记等，我都会写在这个博客里</p>
    <p>也希望能够碰到有志同道合的攻城师，没事坐下来喝杯茶聊一聊，也是极好的</p>
    <p>简单介绍一下自己，前端工程师，98年的小伙子，未来的计划是成为全栈，虽然现在的技术还很一般，但是希望通过自己的规划，一步一步实现这个目标</p>
    <hr>
    <ul>
        <li>
            <p>2020年10月, 进入新的工作环境</p>
        </li>
        <li>
            <p>2020年6月, 大学毕业踏上人生新征程</p>
        </li>
    </ul>
    <h2>联系方式</h2>
    <p>e-mail： <span>
            <%- theme.email %>
        </span>
    </p>
    <h2>相关</h2>

    <blockquote>
        <p>github主页： <a target="_blank" rel="noopener"
                href="https://github.com/shuxhan">https://github.com/shuxhan</a>
        </p>
        <p>主题仓库： <a target="_blank" rel="noopener"
                href="https://github.com/shuxhan/hexo-theme-simple99">https://github.com/shuxhan/hexo-theme-simple99</a>
        </p>
        <p>个人网址导航： <a target="_blank" rel="noopener" href="https://shuxhan.gitee.io/">https://shuxhan.gitee.io/</a>
        </p>
    </blockquote>


</article>
</div>