<div class="about-wrap">
	<div class="main">
		<h1 class="message-h1">留言</h1>
		<blockquote class="message-blockquote">
			<p>世界上最遥远的距离就是，我在这里，你却不留下一点点信息。</p>

		</blockquote>
		<div style="font-size: 15px;margin: 0 auto;width: 96%;">
			该站点不再进行友链业务，转移至 <a href="https://www.shuxhan.com">https://www.shuxhan.com</a> 。
		</div>
		
		<%- partial('partials/comments') %>
	</div>
	<%if(theme.sidebar&&theme.widgets.length){%>
		<aside>
			<%- partial('partials/widgets') %>
		</aside>
	<%}%>
</div>

<style>
	.message-h1 {
		padding-bottom: 0.3em;
		font-size: 20px;
		line-height: 1.4;
		padding-left: 10px;
	}

	.message-blockquote {
		margin: 30px auto;
		border: 0;
		border-left: 5px solid #a7a7a7;
		background: #f0f0f0bd;
		padding-left: 10px;
		width: 96%;
	}

	.message-blockquote>p {
		line-height: 40px;
	}
</style>