<div class="about-wrap">
	<article class="main">
		<h2>
		  <%-page.title%>
		</h2>
		<%-page.content%>
		<%- partial('partials/comments') %>
	  </article>
	
	<%if(theme.sidebar&&theme.widgets.length){%>
		<aside>
			<%- partial('partials/widgets') %>
		</aside>
	<%}%>
</div>

<style>
	.message-h1 {
		padding-bottom: 0.3em;
		font-size: 20px;
		line-height: 1.4;
		padding-left: 10px;
	}

	.message-blockquote {
		margin: 30px auto;
		border: 0;
		border-left: 5px solid #a7a7a7;
		background: #f0f0f0bd;
		padding-left: 10px;
		width: 96%;
	}

	.message-blockquote>p {
		line-height: 40px;
	}
</style>