<div class="search">
	<div id="site_search">
		<input type="text" id="local-search-input" autocomplete="off" placeholder="搜索文章..." results="0" />
		<div id="local-search-result"></div>
	</div>
</div>


<%- js('js/search') %>