/* Twikoo */
.comments {
  background-color: #fff;
  /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 6px 30px -10px rgba(0, 0, 0, 0.1);
}
.twikoo {
  width: 95%;
  margin: 0 auto;
}
.el-textarea__inner {
  height: 100px !important;
}

.tk-time {
  font-size: 15px;
  display: inline !important;
}

.tk-time::before {
  display: inline;
  content: " \2022  ";
  color: #999;
}

.tk-content {
  font-size: 15px;
  /* background: rgb(240,244,252); */
  padding: 1px 0;
  border-radius: 5px;
}

.tk-content > span > p {
  line-height: 1.6;
}

.tk-action-link {
  cursor: pointer;
  transform: scale(1.1);
}


.tk-comment {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.at {
  display: none;
}


@media (max-width: 600px) {
  .tk-row > .tk-avatar {
    display: none;
  }
  .tk-row {
    margin-left: 0 !important;
  }
}

.tk-extras {
  display: none !important;
}

.el-textarea__inner {
  min-height: 130px !important;
}
.tk-content {
  max-height: none !important;
}

.tk-content img {
  max-width: 100% !important;
  max-height: none !important;
}