/* .valine-title {
  margin-bottom: 20px;
  font-size: 17px;
}

#vcomments {
  width: 96%;
  margin: 0 auto !important;
  padding-bottom: 50px;
  font-family: lucida grande, lucida sans unicode, lucida, helvetica,
    Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
}

.vwrap {
  position: relative !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding-bottom: 0 !important;
}
.veditor {
  border-top: 1px solid #ccc !important;
}

.vcards > .vcard {
  margin-bottom: 15px;
  border-top: 1px dotted #eee !important;
  margin: 0 !important;
  padding-top: 10px !important;
}
.vcard .vimg {
  border-radius: 2px !important;
  width: 3em !important;
  height: 3em !important;
}

#vcomments .vcards .vcard .vh .vcard {
  border: none;
  box-shadow: none;
}
.txt-right {
  display: none;
}
.markdown {
  display: none !important;
}

.vheader .vinput {
  border: none !important;
}

textarea {
  resize: none !important;
}

.vlink {
  display: none !important;
}

.vheader {
  font-size: 17px;
  color: #666;
  display: inline;
}

#vcomments .vheader .vnick {
  width: 30%;
  border: 1px solid #ccc !important;
  padding: 3px 10px 3px 10px;
  border-radius: 5px !important;
  font-size: 14px;
}
#vcomments .vheader .vnick:hover,
#vcomments .vheader .vmail:hover,
#vcomments .vheader .veditor:hover {
    border-color: #90939980 !important;
}
#vcomments .vheader .vnick:focus,
#vcomments .vheader .vmail:focus,
#vcomments .vheader .veditor:focus {
  border-color: #409eff !important;
}
#vcomments .vheader .vmail {
  border: 1px solid #ccc !important;
  width: 30%;
  margin-right: 30px !important;
  padding: 3px 10px 3px 10px;
  border-radius: 5px !important;
  font-size: 14px;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-placeholder {
  color: #ccc;
}

input:-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

.vsubmit {
  background-color: #269ce9 !important;
  border-color: #269ce9 !important;
  color: #fff !important;
  right: 15px;
  bottom: 30px;
}
.vsubmit:hover {
  background-color: #70b9e8 !important;
}
.vsubmit:active {
  background: #269ce9 !important;
}

.vquote {
  padding-left: 0 !important;
  border-left-width: 0 !important;
}

.vquote > .vcard {
  padding: 0 !important;
}

.vinput-title {
  display: inline-block;
  width: 75px !important;
  font-size: 14px !important;
}
.vmail-title {
  display: inline-block;
  margin-left: 40px !important;
}
.vmail-title-br {
  display: none;
}
@media screen and (max-width: 630px) {
  .vmail-title-br {
    display: block;
    height: 14px;
  }
  .vhead > .vnick {
    width: auto !important;
  }

  .vmail-title {
    margin-left: 0 !important;
  }

  .vnick {
    width: 60% !important;
  }

  .vmail {
    width: 60% !important;
  }
}

.vcards .vcard .vh {
  border-bottom: none !important;
}


.vtag.vmaster {
  background-color: #67c23a20 !important;
  border: 1px solid #67c23a80;
  border-radius: 2px;
  color: #67c23a;
}
.vtag.vvisitor {
  display: none;
}
.vcontent {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  
}
.vcontent > p {
  color: #404040 !important;
  font: 15px/1.5 "Helvetica Neue" !important;
}



.vhead > span.vnick {
  font-size: 15px !important;
  font-weight: 600 !important;
}  */




/* Twikoo */
.twikoo {
  width: 95%;
  margin: 0 auto;
}
.el-textarea__inner {
  height: 100px !important;
}

.tk-time {
  font-size: 15px;
  display: inline !important;
}

.tk-time::before {
  display: inline;
  content: " \2022  ";
  color: #999;
}

.tk-content {
  font-size: 15px;
  background: rgb(240,244,252);
  padding: 1px 15px;
  border-radius: 5px;
}

.tk-content > span > p {
  line-height: 1.6;
}
.tk-content > span > p >img {
  max-width: 30px;
}

.tk-comment {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.at {
  display: none;
}


@media (max-width: 600px) {
  .tk-row > .tk-avatar {
    display: none;
  }
  .tk-row {
    margin-left: 0 !important;
  }
}

