<hr>
<div class="post-copyright">
    <div>
        <span>本文作者:</span>
        <span>张舒涵</span>
    </div>
    <div>
        <span>本文链接:</span>
        <a href="<%= config.url %>/<%= page.slug %>">
            <%= config.url %>/<%= page.slug %>
        </a>
    </div>
    <div>
        <span>欢迎任何形式的转载，但请务必注明出处。</span>
    </div>
    <div>
        <span>由于笔者水平有限，如果文章或代码有表述不当之处，还请不吝赐教。</span>
    </div>
</div>






<style>
    .post-copyright {
        display: block;
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 10px 20px 10px 20px;
        font-size: 15px;
        color: #2e2d2d;
        word-break: break-all;
        background: #f4f5f559;
        line-height: 1.8;
        border-left: 4px solid rgb(202, 197, 197);
    }


    .post-copyright a {
        color: #2e2d2d;
        border-bottom: 1px solid #999; 
    }

    .post-copyright a:hover {
        color: #2e2d2d;
        border-bottom: 1px solid #000; 
    }
</style>
